.game-rules-slide__title {
  color: var(--color-lime);
  font: var(--fonts-h2-infographic-title);
}

.game-rules-slide__description {
  margin: 15px 0;
  font: var(--fonts-p-main-description);
}

@media (min-width: 744px) {
  .game-rules-slide__title {
    color: var(--color-bg-gray-900);
    font-size: 26px;
  }
  .game-rules-slide__description {
    font-size: 20px;
    margin: 24px 0;
  }
}

@media (min-width: 1440px) {
  .game-rules-slide__title {
    font-size: 26px;
  }
  .game-rules-slide__description {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
  }
}

@media (min-width: 1920px) {
  .game-rules-slide__description {
    padding-right: 63px;
  }
}
