.gamesbanner {
  display: flex;
  padding: 32px;
  width: 99%;
  min-height: 468px;
  background: var(--color-gradient);
  border-radius: var(--border-base);
}
.gamesbanner__container {
  max-width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: start;
  position: relative;
  padding-bottom: 10px;
}
.gamesbanner__addition-container-right-up {
  position: absolute;
  z-index: 1;
  left: 97%;
  bottom: 90%;
}
.gamesbanner__addition-container-right-down {
  position: absolute;
  z-index: 1;
  left: 95%;
  bottom: 85%;
}
.gamesbanner__addition-container-low {
  position: absolute;
  z-index: 1;
  top: 92%;
  right: 100%;
}

.gamesbanner__img {
  width: 100%;
  position: relative;
  display: flex;
}

.gamesbanner__title {
  color: var(--color-bg-white);
  font-size: var(--text-3xl);
  font-weight: var(--weight-bold);
}
.banner__part {
  color: var(--color-bg-white);
  font-size: var(--text-base);
  font-weight: var(--weight-medium);
}
.banner__description {
  display: flex;
  padding-top: 10px;
}
@media (min-width: 744px) {
  .gamesbanner__title {
    font-size: var(--text-4xl);
  }
  .banner__part {
    font-size: var(--text-lg);
  }
}
@media (min-width: 1440px) {
  .gamesbanner__img {
    max-width: 620px;
  }
}
