.quiz-game {
  margin-top: 25px; /* FOR DEV */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  padding: 16px;
  width: 100%;
  position: relative;
}

.quiz-game__title {
  text-align: center;
  font: var(--fonts-h2-infographic-title-DEPRECATED);
  color: var(--color-bg-white);
  position: relative;
  z-index: 10;
}

.quiz-game__question-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 10;
}

.quiz-game__question-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: var(--shadow);
  background-color: var(--color-bg-white);
}

.quiz-game__question-title {
  text-align: center;
  color: var(--color-bg-white);
  font: var(--fonts-question-title-DEPRECATED);
  margin: 32px 0;
}

.quiz-game__game-block {
  width: 100%;
}

.quiz-game__answers-block {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 8px;
  font: var(--fonts-interesting-fact-DEPRECATED);
}

.quiz-game__answers-block ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.quiz-game__answer-btn {
  width: 100%;
  background-color: var(--color-bg-white);
  padding: 16px 24px;
  cursor: pointer;

  box-shadow: 0 4px 12px rgba(75, 85, 99, 0.15);
  border-radius: 16px;
  border: 1px solid #e4e7ec;
}
@media (min-width: 744px) {
  .quiz-game {
    padding: 32px;
  }

  .quiz-game__title {
    font-size: 26px;
  }
  .quiz-game__question-image {
    width: 65%;
  }

  .quiz-game__game-block {
    margin-top: 32px;
    background-color: var(--color-bg-white);
    border-radius: 32px;
    padding: 24px;
  }
  .quiz-game__question-title {
    color: var(--color-bg-gray-900);
    font-size: 20px;
    margin-top: 0;
  }
  .quiz-game__answers-block {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .quiz-game {
    margin-top: 0;
  }
  .quiz-game__title {
    font-size: 34px;
  }
  .quiz-game__answers-block {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
