.game-rules-carousel {
  display: flex;
  flex-direction: column;
}

.game-rules-carousel__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 350px;
  background-image: var(--images-mediator-top-left);
  background-repeat: no-repeat;
  background-position: center;
}

.game-rules-carousel__img {
  padding: 15px;
  width: 95%;
  border-radius: 32px;
}

.game-rules-carousel__carousel {
  height: fit-content;
  width: 100%;
}

.game-rules-carousel__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 9px 20px;
  background-color: var(--color-lime);
  border-radius: 81px;
  color: var(--color-bg-white);
  font: var(--fonts-span-carousel-description-DEPRECATED);
}

.game-rules-carousel__current-page {
  font: var(--fonts-span-carousel-title-DEPRECATED);
}

.game-rules-carousel__slider-btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 744px) {
  .game-rules-carousel__image-wrapper {
    justify-content: flex-start;
    background-size: 50%;
    background-position: 2%;
    min-height: 350px;
  }
  .game-rules-carousel__img {
    width: 55%;
    border-radius: 80px;
  }

  .game-rules-carousel__slider {
    width: 211px;
    padding: 11px 20px;
  }
}

@media (min-width: 1024px) {
  .game-rules-carousel {
    flex-direction: row;
    gap: 40px;
  }

  .game-rules-carousel__image-wrapper {
    background-size: 100%;
    background-position: right;
    margin-left: calc(-100vw / 10);
  }

  .game-rules-carousel__img {
    width: 110%;
    margin-left: calc(-100vw / 13);
  }
}

@media (min-width: 1280px) {
  .game-rules-carousel__image-wrapper {
    background-size: 100%;
    background-position: center;
    margin-left: 0;
  }

  .game-rules-carousel__img {
    width: 100%;
    margin-left: 0;
  }
}
