.game-rules-carousel {
  display: flex;
  flex-direction: column;
}

.game-rules-carousel__image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 374px;
  background-image: var(--images-mediator-top-left);
  background-repeat: no-repeat;
}

.game-rules-carousel__img {
  padding: 15px;
  width: 95%;
  border-radius: 32px;
}

.game-rules-carousel__rules-block {
  height: fit-content;
  width: 100%;
  margin-top: 20px;
}

.game-rules-carousel__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 9px 20px;
  background-color: var(--color-lime);
  border-radius: 81px;
  color: var(--color-bg-white);
  font: var(--fonts-span-carousel-description);
}

.game-rules-carousel__current-page {
  font: var(--fonts-span-carousel-title);
}

.game-rules-carousel__slider-btn {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
}

@media (min-width: 744px) {
  .game-rules-carousel__img {
    border-radius: 80px;
  }
  .game-rules-carousel__rules-block {
    margin-top: 60px;
  }

  .game-rules-carousel__slider {
    width: 211px;
    padding: 11px 20px;
  }
}

@media (min-width: 1440px) {
  .game-rules-carousel {
    flex-direction: row;
    gap: 75px;
  }

  .game-rules-carousel__image-block {
    max-width: 50%;
  }
}

@media (min-width: 1920px) {
}
