.game-reg-btn {
  width: 100%;
  background: #ffffff;
  border-radius: var(--border-xs);
  padding: 16px 32px;
  /* TO-DO: Create a gradient for text and border */
  color: var(--color-pink);
  border: 2px solid var(--color-pink);

  font: var(--fonts-registration-button-title-DEPRECATED);

  cursor: pointer;
}

.game-reg-btn:hover {
  background: var(--color-gradient);
  color: var(--color-bg-white);
}

.game-reg-btn:active {
  background: var(--color-pink);
  color: var(--color-bg-white);
}
