.form-registration {
  border-radius: var(--border-base);
  background-color: var(--color-bg-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  width: 99%;
  padding: 24px;
  gap: 14px;
  border: var(--border-xxxs) solid var(--color-bg-slate-200);
  height: min-content;
}

.form-registration__title {
  font-weight: var(--weight-bold);
  font-size: var(--text-xl);
  color: var(--color-bg-gray-700);
}

.form-registration-body__firstblock {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.form-registration__btn-send {
  width: 100%;
}

.form-registration-body__description {
  margin-top: 5px;
  text-align: start;
  font-size: var(--text-sm);
}

.form-registration-body__description-selection {
  color: var(--color-pink);
}

input[class~='date']:not(:focus) {
  color: transparent;
}

input[type='date'] {
  position: relative;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-clear-button {
  z-index: -1;
}

.server-error {
  position: fixed;
  top: 11%;
  right: 1%;
  z-index: 1000;
}

@media (min-width: 744px) {
  .form-registration-body__firstblock {
    flex-direction: column;
  }

  .form-registration__title {
    font-size: var(--text-4xl);
  }

  .form-registration {
    padding: 32px;
    gap: 24px;
    min-height: 647px;
  }

  .server-error {
    top: 14%;
  }
}

@media (min-width: 1440px) {
  .form-registration-body__firstblock {
    flex-direction: row;
  }
}