.faq-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   margin-top: 15px;
   padding: 16px 12px;
   width: 100%;
   min-width: 336px;
   height: fit-content;
   border-radius: 32px;
   gap: 24px;

}

.faq-block__title {
   font: var(--fonts-h2-faq-title);
   color: var(--color-bg-white);

   position: relative;
   z-index: 10;
}

.faq-block__questions-list {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 0px;
   gap: 12px;
}

.faq-block__question {
   gap: 40px;
   padding: 16px;
   width: 100%;
   list-style-type: none;
   background-color: var(--color-bg-white);
   box-shadow: var(--shadow);
   border-radius: 16px;

   font: var(--fonts-navigation-link);
   color: var(--color-bg-gray-900);

   position: relative;
   z-index: 10;
}

.faq-block__question-title {
   display: flex;
   justify-content: space-between;
}

.faq-block__answer {
   text-align: start;
   max-height: 0;
   overflow: hidden;
   transition: all 0.5s cubic-bezier(0,1,0,1);
}

.faq-block__answer.show {
   margin-top: 6px;
   padding: 12px 0;
   border-top: 2px solid var(--color-bg-gray-500);
   height: auto;
   max-height: 350px;
   transition: all 0.5s cubic-bezier(1,0,1,0);
}