.gamesmain__block-imagepart-container {
  display: none;
}
@media (min-width: 1440px) {
  .gamesmain__block-imagepart-container {
    display: block;
    width: 100%;
    max-width: 800px;
    max-height: 554px;
  }
}
