.game-infographic-item {
  width: 217px;
  height: 198px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-infographic-item__mediator {
  width: 111px;
}

.game-infographic-item__content {
  position: relative;
  width: fit-content;
  bottom: 42px;
}

.game-infographic-item__description-bg {
  width: 170px;
}

.game-infographic-item__description {
  top: 10%;
  padding: 10px;
  position: absolute;
  text-align: center;
  color: var(--color-bg-white);
  font: var(--fonts-p-infographic-description-DEPRECATED);
}

@media (min-width: 744px) {
  .game-infographic-item__description {
    font-size: 18px;
  }
  .game-infographic-item__description-bg {
    width: 224px;
  }
  .game-infographic-item__mediator {
    width: 147px;
  }
}
@media (min-width: 1440px) {
}
@media (min-width: 1920px) {
}
