.burger-menu {
   width: calc(100vw - 20px);
   height: 100vh;
   height: -webkit-fill-available;
   padding-bottom: 1rem;
   position: fixed;
   z-index: 999;
   top: 10px;
   left: 10px;
   background-color: var(--color-lime);
   border-radius: 24px;
}

.burger-menu__content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.burger-menu__close-btn {
   position: absolute;
   top: 15px;
   left: 15px;
   cursor: pointer;
}

.burger-menu__footer {
   position: absolute;
   display: flex;
   bottom: 15px;
   gap: 15px;
}

.burger-menu__links {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 16px;
   top: 100px;
   color: var(--color-bg-white);
}