.banner__background {
  /* --header-height: 74px; */
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-base);
  background: var(--color-gradient);
  overflow: hidden;
  align-items: center;
}
.banner__info {
  padding: 12px;
  min-height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.banner__info h1 {
  font: var(--fonts-h1-main-title-DEPRECATED);
  color: var(--color-bg-white);
  margin: 0;
}

.banner__info p {
  font: var(--fonts-p-main-description-DEPRECATED);
  color: var(--color-bg-white);
}

.banner__info_bold-title {
  color: var(--color-lime);
}

.banner__reg-btn {
  max-width: 369px;
  width: 100%;
  z-index: 15;
  height: 52px;
}

.banner_reg-btn-title {
  font: var(--fonts-registration-button-title-DEPRECATED);
}

.banner-image {
  width: 100%;
  position: absolute;
  bottom: 64px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.banner-image__img {
  width: 366px;
}
.banner__dots {
  padding-bottom: 12px;
  z-index: 1;
}

/* Media Queries */
@media (min-width: 744px) {
  .banner__background {
    --header-height: 122px;
  }
  .banner-image__img {
    bottom: -20%;
    right: -10%;
    width: 70%;
    height: calc(83% + 6vw);
  }

  .banner__info {
    padding: 48px;
    width: 90%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    gap: 64px;
  }

  .banner__info h1 {
    font-size: 32px;
  }

  .banner__info p {
    font-size: 18px;
  }

  .banner__reg-btn {
    padding: 16px 48px;
    border-radius: 61px;
    height: 58px;
  }

  .banner_reg-btn-title {
    font-size: 20px;
  }
  .banner__description-wrapper {
    max-width: 621px;
  }
}

@media (min-width: 1440px) {
  .banner-image__img {
    bottom: 0;
    right: -210px;
    width: 774px;
    height: 664px;
    max-width: 774px;
    scale: 1;

    mask-size: 100%;
    mask-position: 50% -15%;
  }
  .banner__background {
    --header-height: 102px;
    /* height: calc(100vh - var(--header-height) - 1rem); */
    height: 640px;
    max-height: 640px;
  }

  .banner__info {
    width: 70%;
    padding: 64px 56px;
  }

  .banner__info h1 {
    font-size: var(--text-6xl);
  }

  .banner__info p {
    font-size: var(--text-lg);
  }
  .banner__description-wrapper {
    padding-right: 50px;
    max-width: none;
  }
}

@media (min-width: 1920px) {
  .banner__background {
    --header-height: 122px;
  }
  .banner__info h1 {
    font-size: var(--text-6xl);
  }
  .banner__info p {
    font-size: var(--text-lg);
  }
  .banner__description-wrapper {
    padding-right: 130px;
  }
}
