.franchise-audience {
    width: 98vw;
    padding-left: 5%;
    display: flex;
    gap: 5%;
}

.franchise-audience__description_wrapper {
    width: 50%;
}

.franchise-audience__stats-wrapper {
    display: flex;
    flex-direction: row;
}

.franchise-audience__stats {
    width: 334px;
    max-width: 334px;
    margin-top: 66px;
}

.franchise-audience__title {
    font-weight: var(--weight-heavy);
    font-size: var(--text-9xl);
    color: var(--color-bg-gray-900);
}

.franchise--audience__text {
    font-weight: var(--weight-medium);
    font-size: var(--text-2xl);
    color: var(--color-bg-gray-700);
}

.franchise-audience__container_right {
    position: relative;
    width: 45%;
}

.franchise-audience__illustration_photo {
    width: 823px;
    max-width: 100%;
    z-index: -1;
}

.franchise-audience__illustration_stats {
    width: 100%;
    max-width: 65%;
    position: absolute;
    top: 50%;
    right: 55%;
}



@media (max-width: 768px) {

    .franchise-audience{
        width: 85vw;
        margin-left: 5%;
    }
    .franchise-audience__container_right{
        display: none;
    }

    .franchise-audience__title {
        font-size: var(--text-6xl);
    }

    .franchise--audience__text {
        font-size: var(--text-1xl);
    }

    .franchise-audience__stats-wrapper {
        flex-direction: column;
    }
}

@media (min-width: 1455px) and (max-width: 2000px) {

    .franchise-audience {
        width: 70vw;
    }

}
