.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-gallery__title {
  font: var(--fonts-h1-main-title);
  text-align: center;
}

.photo-gallery__photos-list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  max-width: calc(100vw - 20px);
}

.photo-gallery__show-all-btn {
  width: 100%;
  padding: 16px 48px;
}

.photo-gallery__show-all-btn-title {
  font: var(--fonts-show-all-btn-title);
}
.photo-gallery__photo {
  border-radius: 24px;
  width: 328px;
}

.photo-gallery__slider-button-prev,
.photo-gallery__slider-button-next {
  position: absolute;
  top: 40%;
  display: block;
  z-index: 20;
  cursor: pointer;
  overflow: visible;
}
.photo-gallery__slider-button-prev {
  left: calc(100vw / 2 - 195px);
}

.photo-gallery__slider-button-next {
  left: calc(100vw / 2 + 125px);
}

.photo-gallery__album-link {
  margin-top: 16px;
  text-decoration: none;
  color: var(--color-pink);
  font-size: var(--text-base);
  font-weight: var(--weight-medium);
  font-family: var(--font-family-descriptions);
}
.photo-gallery__album-link:visited {
  text-decoration: none;
}

@media (min-width: 744px) {
  .photo-gallery__title {
    font-size: 40px;
  }

  .photo-gallery__show-all-btn {
    width: max-content;
    height: max-content;
  }
  .photo-gallery__show-all-btn-title {
    font-size: 24px;
  }
  .photo-gallery__photo {
    border-radius: 32px;
    width: 424px;
  }
  .photo-gallery__slider-button-prev {
    left: calc(100vw / 2 - 240px);
  }

  .photo-gallery__slider-button-next {
    left: calc(100vw / 2 + 170px);
  }
}

@media (min-width: 1440px) {
  .photo-gallery__photos-list {
    flex-direction: row;
    gap: 24px;
  }

  .photo-gallery__photo {
    width: 540px;
  }
  .photo-gallery__slider-button-prev {
    left: calc(100vw / 2 - 295px);
    scale: 1.25;
  }

  .photo-gallery__slider-button-next {
    left: calc(100vw / 2 + 225px);
    scale: 1.25;
  }
}

@media (min-width: 1920px) {
  .photo-gallery__title {
    font-size: 50px;
  }
}
