.gamedata__title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--font-family-descriptions);
  font-size: var(--text-2xl);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-600);
}

.gamedata__top {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 19px;
}

.gamedata__back-btn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.gamedata__container {
  padding: 16px;
  border: 3px solid var(--color-bg-slate-100);
  border-radius: var(--border-sm);
}

@media (min-width: 1440px) {
  .gamedata__container {
    padding: 32px;
    border: 6px solid var(--color-bg-slate-100);
    border-radius: var(--border-base);
  }
}
