.form-registration {
  width: 100%;
  border-radius: var(--border-base);
  background: var(--color-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 723px;
  max-height: 838px;
  padding: 32px;
}
.form-registration__title {
  font: var(--fonts-h2-block-title-DEPRECATED);
  color: var(--color-bg-white);
  position: relative;
  z-index: 10;
}
.form-registartion-body {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-white);
  border-radius: var(--border-base);
  padding: 24px;
  gap: 24px;
}
.form-registartion-body__firstblock {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.base-btn__send {
  width: 100%;
  z-index: 15;
  height: 54px;
}
.form-registartion-body p {
  font-size: 14px;
  text-align: start;
}
.form-registartion-body__span {
  color: var(--color-pink);
}
