.form-registration {
  border-radius: var(--border-base);
  background: var(--color-bg-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 684px;
  height: 621px;
  padding: 32px;
  gap: 20px;
  border: 6px solid rgba(243, 244, 246, 1);
}
.form-registration__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 31.2px;
  color: var(--color-bg-gray-700);
}

.form-registartion-body__firstblock {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}
.form-registration__btn-send {
  width: 620px;
}
.form-registartion-body_p {
  font-size: 14px;
  text-align: start;
}
.form-registartion-body__span {
  color: var(--color-pink);
}
