/* montserrat-regular - latin_cyrillic */
@font-face {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   }
   
/* montserrat-500 - latin_cyrillic */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   src: local(''),
         url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
   

 /* druk-text-wide-cyr-500 */
 @font-face {
     font-family: 'Druk Text Wide Cyr';
     font-style: normal;
     font-weight: 500;
     src: local(''),
          url('../fonts/druk-text-wide-cyr-500.woff2') format('woff2'),
          url('../fonts/druk-text-wide-cyr-500.woff') format('woff');
 }

 @font-face {
     font-family: 'Druk Text Wide Cyr';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../fonts/druk-text-wide-cyr-700.woff2') format('woff2'),
          url('../fonts/druk-text-wide-cyr-700.woff') format('woff');
 }
 
 @font-face {
     font-family: 'Druk Text Wide Cyr';
     font-style: normal;
     font-weight: 900;
     src: local(''),
          url('../fonts/druk-text-wide-cyr-900.woff2') format('woff2'),
          url('../fonts/druk-text-wide-cyr-900.woff') format('woff');
 }