.home-page-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1872px;
  margin: 0 auto;
  padding: 0 12px;
}

.home-page-block {
  margin-top: 80px;
}

.home-page__minigames-block {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headers);
}

body {
  font-family: var(--font-family-description);
}

@media (min-width: 744px) {
  .container {
    padding: 0 24px;
  }
  .home-page-block {
    margin-top: 100px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
    padding: 0;
  }

  .home-page-block {
    margin-top: 140px;
  }

  .home-page__minigames-block {
    flex-direction: row;
    gap: 15px;
  }
}

@media (min-width: 1920px) {
}
