:root {
  /* === Fonts === */
  --font-family-headers: "Druk Text Wide Cyr"; /* Заголовочный шрифт */
  --font-family-descriptions: "Montserrat"; /* Описательный шрифт */

  /* Titles */
  --fonts-h1-main-title: 900 24px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h2-block-title: 700 28px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h2-infographic-title: 700 50px/1.4 var(--font-family-headers),
    sans-serif;

  --fonts-h3-block-title: 700 34px/1.4 var(--font-family-headers), sans-serif;

  --fonts-h4-subtitle: 700 26px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h4-card-title: 500 20px/1.4 var(--font-family-headers), sans-serif;

  --fonts-footer-title: 500 20px/1.4 var(--font-family-headers), sans-serif;

  /* Descriptions */
  --fonts-p-infographic-description: 600 24px/1.4
      var(--font-family-descriptions),
    sans-serif;
  --fonts-p-main-description: 500 16px/1.4 var(--font-family-descriptions),
    sans-serif;
  --fonts-p-block-description: 400 24px/1.4 var(--font-family-descriptions),
    sans-serif;
  --fonts-h5-card-description: 500 20px/1.4 var(--font-family-descriptions),
    sans-serif;
  --fonts-span-sub-description: 400 16px/1.4 var(--font-family-descriptions),
    sans-serif;

  --fonts-faq-block: 600 20px/1.4 var(--font-family-descriptions), sans-serif;

  --fonts-registration-button-title: 500 18px/1.4
      var(--font-family-descriptions),
    sans-serif;


  --fonts-city-list-button: 700 16px/1.4 var(--font-family-descriptions),
    sans-serif;
  --fonts-navigation-link: 500 14px/1.4 var(--font-family-descriptions),
    sans-serif;

  /* === Images === */
  /* header images */
  --images-header-schedule: url("../images/header/01_schedule.svg");
  --images-header-album: url("../images/header/02_album.svg");
  --images-header-corp: url("../images/header/03_corp.svg");
  --images-header-franchise: url("../images/header/04_franchise.svg");
  --images-header-logo: url("../images/header/logo.svg");
  --images-header-location: url("../images/header/loc.svg");
  --images-header-tg: url("../images/header/tg.svg");
  --images-header-vk: url("../images/header/vk.svg");

  --footer-background: url("../images/footer/footer-background.svg");
  --footer-social-btn-tg: url("../images/footer/tg-footer.svg");
  --footer-social-btn-vk: url("../images/footer/vk-footer.svg");
  
  /* Home Page images */
  --images-banner: url("../images/home-page/banner-image.png");

  /* === Colors === */
  --color-bg-gray-900: rgba(17, 24, 39, 1);
  --color-bg-gray-700: rgba(55, 65, 81, 1);
  --color-bg-gray-600: rgba(75, 85, 99, 1);
  --color-bg-gray-500: rgba(107, 114, 128, 1);
  --color-bg-white: rgba(255, 255, 255, 1);
  --color-gradient: linear-gradient(
    85.72deg,
    #ff921c -39.65%,
    #ff2f62 48.32%,
    #bc099c 134.47%
  );
  --color-pink: rgba(240, 31, 119, 1);
  --color-red: rgba(255, 64, 86, 1);
  --color-lime: rgba(194, 215, 47, 1);

  /* === Effects === */
  --shadow: -7px 67px 40px rgba(21, 41, 68, 0.02),
    -3px 30px 30px rgba(21, 41, 68, 0.03), -1px 7px 16px rgba(21, 41, 68, 0.03),
    0px 0px 0px rgba(21, 41, 68, 0.03);

  /* Masks */
  --banner-mask: linear-gradient(0deg, rgba(255, 64, 64, 0.1), 
    rgba(255, 64, 64, 0.1)), linear-gradient(0deg, rgba(255, 64, 64, 0.5), 
    rgba(255, 64, 64, 0.5));

  /* Sizes */
  --mobile-tab-bar: 116px;
}