:root {
  /* === Fonts === */
  --font-family-headers: 'Druk Text Wide Cyr'; /* Заголовочный шрифт */
  --font-family-descriptions: 'Montserrat'; /* Описательный шрифт */

  /* === Line Heights === */
  --line-height-base: 1.4;
  --line-height-small: 1.2;

  /* === Font Sizes === */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 22px;
  --text-3xl: 24px;
  --text-4xl: 26px;
  --text-5xl: 34px;
  --text-6xl: 40px;
  --text-7xl: 48px;
  --text-8xl: 50px;
  --text-9xl: 56px;

  /* === Font Weights === */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-heavy: 900;

  /* === Border Radiuses === */
  --border-xxxs: 6px;
  --border-xxs: 8px;
  --border-xs: 16px;
  --border-sm: 24px;
  --border-base: 32px;
  --border-lg: 64px;

  /* Titles */
  /* DEPRECATED */
  --fonts-h1-main-title-DEPRECATED: 900 24px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h2-faq-title-DEPRECATED: 900 28px/1.205 var(--font-family-headers), sans-serif;
  --fonts-h2-block-title-DEPRECATED: 700 28px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h2-infographic-title-DEPRECATED: 700 24px/1.4 var(--font-family-headers), sans-serif;

  --fonts-h4-subtitle-DEPRECATED: 700 26px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h5-subtitle-DEPRECATED: 700 20px/1.4 var(--font-family-headers), sans-serif;
  --fonts-h4-card-title-DEPRECATED: 500 20px/1.4 var(--font-family-headers), sans-serif;

  --fonts-footer-title-DEPRECATED: 500 20px/1.4 var(--font-family-headers), sans-serif;

  /* Descriptions */
  --fonts-span-carousel-title-DEPRECATED: 500 28px/1.4 var(--font-family-descriptions), sans-serif;

  --fonts-p-date-info-title-DEPRECATED: 600 24px/1.4 var(--font-family-descriptions), sans-serif;

  --fonts-faq-block-DEPRECATED: 600 20px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-h5-card-description-DEPRECATED: 500 20px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-span-carousel-description-DEPRECATED: 400 20px/1.4 var(--font-family-descriptions),
    sans-serif;

  --fonts-question-title-DEPRECATED: 600 18px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-registration-button-title-DEPRECATED: 500 18px/1.4 var(--font-family-descriptions),
    sans-serif;

  --fonts-show-all-btn-title-DEPRECATED: 600 16px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-p-main-description-DEPRECATED: 500 16px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-span-sub-description-DEPRECATED: 400 16px/1.4 var(--font-family-descriptions), sans-serif;

  --fonts-interesting-fact-DEPRECATED: 600 14px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-navigation-link-DEPRECATED: 500 14px/1.4 var(--font-family-descriptions), sans-serif;
  --fonts-upcoming-title-DEPRECATED: 400 14px/1.4 var(--font-family-descriptions), sans-serif;

  --fonts-p-infographic-description-DEPRECATED: 600 12px/1.4 var(--font-family-descriptions),
    sans-serif;

  /* === Images === */
  /* header images */
  --images-header-schedule: url('../images/header/01_schedule.svg');
  --images-header-album: url('../images/header/02_album.svg');
  --images-header-corp: url('../images/header/03_corp.svg');
  --images-header-franchise: url('../images/header/04_franchise.svg');
  --images-header-logo: url('../images/header/logo.svg');
  --images-header-location: url('../images/header/loc.svg');
  --images-header-tg: url('../images/header/tg.svg');
  --images-header-vk: url('../images/header/vk.svg');

  --footer-background: url('../images/footer/footer-background.svg');
  --footer-social-btn-inst: url('../images/footer/inst-logo.svg');
  --footer-social-btn-vk: url('../images/footer/vk-footer.svg');

  /* Home Page images */
  --images-banner: url('../images/home-page/banner-image.png');
  --images-mediator-top-left: url('../images/home-page/mediator-top-left.svg');

  /* === Colors === */
  --color-bg-gray-900: rgba(17, 24, 39, 1);
  --color-bg-gray-700: rgba(55, 65, 81, 1);
  --color-bg-gray-600: rgba(75, 85, 99, 1);
  --color-bg-gray-500: rgba(107, 114, 128, 1);
  --color-bg-gray-300: rgba(153, 160, 174, 1);
  --color-bg-gray-200: rgba(229, 231, 235, 1);
  --color-bg-gray-100: rgba(205, 213, 228, 1);
  --color-bg-gray-50: rgba(205, 207, 216, 1);
  --color-bg-gray-0: rgba(248, 249, 251, 1);
  --color-bg-white: rgba(255, 255, 255, 1);
  --color-gradient: linear-gradient(85.72deg, #ff921c -39.65%, #ff2f62 48.32%, #bc099c 134.47%);
  --color-pink: rgba(240, 31, 119, 1);
  --color-pink-light: rgb(255, 229, 240);
  --color-red: rgba(255, 64, 86, 1);
  --color-lime: rgba(194, 215, 47, 1);
  --color-lime-light: rgba(213, 234, 65, 1);
  --color-lime-dark: rgba(181, 202, 31, 1);
  --color-bg-slate-0: rgba(224, 224, 224, 1);
  --color-bg-slate-100: rgba(241, 245, 249, 1);
  --color-bg-slate-200: rgba(243, 244, 246, 1);
  --color-bg-slate-200: rgba(243, 244, 246, 1);
  --color-bg-orange: rgba(242, 153, 74, 1);
  --color-bg-overlay: rgba(0, 0, 0, 0.25);

  /* === Gradients === */
  --gragient-main: linear-gradient(85.72deg, #ff921c -39.65%, #ff2f62 48.32%, #bc099c 134.47%);

  /* === Effects === */
  --shadow: -7px 67px 40px rgba(21, 41, 68, 0.02), -3px 30px 30px rgba(21, 41, 68, 0.03),
    -1px 7px 16px rgba(21, 41, 68, 0.03), 0px 0px 0px rgba(21, 41, 68, 0.03);
  --box-shadow: -0 4px 12px rgba(75, 85, 99, 0.15);
  --modal-shadow: 0px 0px 0px 0px rgba(21, 41, 68, 0.03), -1px 7px 16px 0px rgba(21, 41, 68, 0.03),
    -3px 30px 30px 0px rgba(21, 41, 68, 0.03), -7px 67px 40px 0px rgba(21, 41, 68, 0.02),
    -13px 119px 48px 0px rgba(21, 41, 68, 0), -20px 185px 52px 0px rgba(21, 41, 68, 0);

  /* Masks */
  --banner-mask: linear-gradient(0deg, rgba(255, 64, 64, 0.1), rgba(255, 64, 64, 0.1)),
    linear-gradient(0deg, rgba(255, 64, 64, 0.5), rgba(255, 64, 64, 0.5));

  /* Sizes */
  --mobile-tab-bar: 116px;
}

.not-found__title {
  font: var(--text-base);
}

.position_absolute {
  position: absolute;
}
