.game-requests__wrapper {
  max-width: 680px;
}

.game-requests__title {
  font-size: var(--text-2xl);
  font-weight: var(--weight-semibold);
}

.game-requests__container {
  border-radius: var(--border-sm);
  border: 6px solid #f5f6fa;
  background-color: var(--color-bg-white);
}
