.add-game {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  color: var(--color-bg-gray-900);
}

.add-game__header {
  margin: 0;
  font-family: var(--font-family-descriptions);
  font-size: var(--text-2xl);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-600);
}

.add-game__steps {
  border-bottom: 1px solid var(--color-bg-gray-200);
}

.add-game__progress {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.add-game__description {
  margin-bottom: 16px;
  font-size: var(--text-base);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-600);
}

.add-game__description_center {
  text-align: center;
}

.add-game__description_center :last-child {
  margin-bottom: 0;
}

.add-game__description_active {
  margin-bottom: 8px;
  font-size: var(--text-lg);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-900);
}

.add-game__steps span {
  color: var(--color-pink);
}

.add-game__form .input {
  margin-top: 8px;
}

.add-game__controls {
  display: flex;
  flex-direction: column;
}

.add-game__step {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.add-game__btn {
  height: 54px;
  border-radius: var(--border-xs);
}

.add-form__cancel-btn {
  margin-top: 24px;
  font-size: var(--text-base);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-500);
  background-color: var(--color-bg-white);
  border: none;
}

.add-game__result {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.add-game__result dt {
  display: inline;
  font-size: var(--text-sm);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-500);
}

.add-game__result dt::after {
  content: ': ';
}

.add-game__result dd {
  margin-left: 8px;
  display: inline;
  font-size: var(--text-base);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-900);
  overflow-wrap: anywhere;
}
