.games-main__mapregistration-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
}
.games-main__registration-container {
  display: grid;
  gap: 32px;
}
.games-main__map-container {
  display: grid;
  gap: 32px;
  grid-template-rows: 0.5fr 1fr;
}
.games-main__block-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.games-main__block-imagepart-container {
  display: none;
  position: relative;
  width: 100%;
}

@media (min-width: 744px) {
  .games-main__mapregistration-container {
    grid-template-columns: 0.85fr 0.9fr;
  }
  .games-main__block-container {
    display: grid;
    grid-template-columns: 45% 1fr;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .games-main__block-imagepart-image {
    position: relative;
    z-index: 2;
  }
  .games-main__block-imagepart-vector {
    position: absolute;
    left: 25%;
    top: 40%;
    z-index: 1;
  }
  .games-main__block-imagepart-container {
    display: block;
    max-width: 890px;
    margin-left: calc(-100vw / 8);
    max-height: 554px;
  }
  .games-main__block-faqpart {
    width: 802px;
  }
}
