.gamesmain__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}
.gamesmain_registartion-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 32px;
}
.gamesmain_map-container {
  display: grid;
  grid-template-rows: 1fr 1.3fr;
}
@media (min-width: 744px) {
  .gamesmain__container {
    grid-template-columns: 1fr 1fr;
  }
}
