.gamesmain__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px 0px;
}
.gamesmain__mapregistartion-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
}
.gamesmain__registartion-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 32px;
}
.gamesmain__map-container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 25px;
}
.gamesmain__block-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gamesmain__block-imagepart {
  position: relative;
  max-width: 100%;
}

.gamesmain__block-imagepart {
  display: none;
}

@media (min-width: 744px) {
  .gamesmain__mapregistartion-container {
    grid-template-columns: 43em 43em;
  }
  .gamesmain__map-container {
    gap: 10px;
    grid-template-rows: 1fr 1.3fr;
  }
  .gamesmain__block-container {
    display: grid;
    grid-template-columns: 45% 1fr;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .gamesmain__block-imagepart-image {
    position: relative;
    left: -20%;
    z-index: 2;
    max-width: 890px;
  }
  .gamesmain__block-imagepart-vector {
    position: absolute;
    top: 37%;
    right: 5%;
    z-index: 1;
  }
  .gamesmain__block-imagepart {
    display: block;
  }
  .gamesmain__block-faqpart {
    width: 802px;
  }
}
