
.franchise-about-us__container {
    width: 95vw;
    padding-left: 2%;
    display: flex;
    justify-content: center;
}

.franchise-about-us__description-container {
    width: 45%;
}

.franchise-about-us__title {
    color: var(--color-lime);
    font-weight: var(--weight-heavy);
    font-size: var( --text-9xl);
    line-height: var(--line-height-small);
}

.franchise-about-us__title-pink {
    color: var(--color-pink);
    font-size: var(--text-6xl);
}

.franchise-about-us__title-container {
    display: flex;
    flex-direction: column;
}

.franchise-about-us__text {
    font-family: var(--font-family-descriptions);
    color: var(--colo-bg-gray-700);
    font-weight: var(--weight-medium);
    font-size: var(--text-l);
    line-height: var(--line-height-base);
}

.franchise-about-us__image-container {
    width: 50%;
}

.franchise-about-us__image {
    width: 700px;
    max-width: 700px;
    margin-top: 50px; 
}

.franchise-about-us__rules-container {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

@media (min-width: 768px) and (max-width: 1024px)  {
    .franchise-about-us__image {
        display: none;
    }

    .franchise-about-us__text {
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .franchise-about-us__container {
        width: 85vw;
        margin-left: 5%;
    }

    .franchise-about-us__image {
        display: none;
    }
}