.header {
  width: 100%;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-white);
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__logo {
  width: 116px;
  height: 35px;
  cursor: pointer;
}

.header__links {
  display: flex;
}

.header-link {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;

  transition: box-shadow 150ms ease-in, border-radius 150ms ease-in;
  text-decoration: none;
}

.header-link_show-on-click {
  display: none;
}

.header-link__title {
  font: var(--fonts-navigation-link-DEPRECATED);
  color: var(--color-bg-gray-600);

  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.header-link__img {
  background-image: var(--images-header-schedule);
  background-color: red;
}

.header-link:hover {
  box-shadow: var(--box-shadow);
  border-radius: 16px;
}

.header-link:active {
  outline: 1.5px solid var(--color-lime);
  box-shadow: 0px 4px 12px rgba(194, 215, 47, 0.15);
  border-radius: 16px;
}

.header-link:active span {
  color: var(--color-lime);
}

.header-link:active .header-link_show-on-click {
  display: block;
}

.header-link:active .header-link_hide-on-click {
  display: none;
}

.header__btns {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 16px;
}

.header-link__white {
  color: var(--color-bg-white);
  font-weight: var(--weight-bold);
}

.header__location-btn {
  cursor: pointer;
}

@media (min-width: 744px) {
  .header {
    padding: 35px 0;
  }

  .header__logo {
    width: 174px;
    height: 52px;
  }

  .header__location-btn {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1024px) {
  .header-link {
    padding: 10px 18px;
  }

  .header__links {
    min-width: 65vw;
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .header-link {
    padding: 16px 24px;
  }
  .header__links {
    min-width: 0;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 24px 0;
  }

  .header__logo {
    width: 159.75px;
    height: 56px;
  }
}

@media (min-width: 1920px) {
  .header__logo {
    width: 213px;
    height: 64px;
  }

  .header-link__title {
    font-size: 16px;
  }
}

.header__btn,
.header__social-btn,
.header-link {
  cursor: pointer;
}
