.team-data__wrapper {
    border-radius: 8px;
    border: 1px solid #DFE6EC;
    padding: 24px;
    gap: 16px;
    margin-bottom: 16px;
}

.team-data__insideblock {
    position: relative;
}



.up_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.team-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #111827;
}

.count_players{

}

.team-leader__data{
    margin-right: 16px;
    margin-bottom: 16px;
}

.team-leader__data-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-right: 16px;
}

.team-leader__data-phone{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.team-status__block{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}



.status--is_pending{
    width: 124px;
    height: 36px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    gap: 10px;
    background-color: #f3f4f6;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #4b5563;
    margin-right: 16px;
}

.status--is_approved{
    width: 135px;
    height: 36px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 2px;
    gap: 10px;
    background-color: #FDFFF1;
    border: 2px solid #C2D72F;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #111827;
    margin-right: 16px;
}

.status--is_deleted {
    width: 135px;
    height: 36px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    border: 2px;
    gap: 10px;
    background-color: #ffe5f0;
    border: 2px solid #F01F77;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #111827;
    margin-right: 16px;
    text-align: center;
}

.button_approve{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #F01F77;
    background-color: inherit;
    border: none;
    margin-right: 16px;
    cursor: pointer;
}

.button_delete{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #6B7280;
    background-color: inherit;
    border: none;
    cursor: pointer;

}

.block_deposit{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #111827;
    position: absolute;
    right: 0;
    bottom: 5px;
}

@media(max-width: 400px) {
    .team-status__block{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .status--is_pending, .status--is_approved, .status--is_deleted{
        margin-bottom: 16px;
    }

    .block_deposit{
        right: 0;
        bottom: 50px;
    }
}
