.dropdown-menu__wrapper {
  width: 144px;
  height: 88px;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--color-bg-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 7px 14px 0px var(--color-bg-gray-300);
}
.dropdown-menu__wrapper::after {
  content: '';
  position: absolute;
  top: calc(50%-8px);
  right: -8px;
  height: 16px;
  width: 16px;
  background-color: var(--color-bg-white);
  transform: rotate(45deg);
}
.dropdown-menu__wrapper_visible {
  top: 0;
  right: 90px;
  visibility: visible;
}
.dropdown-menu__wrapper_hidden {
  visibility: hidden;
}
.dropdown-menu__button {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  border: none;
  background: inherit;
  padding: 0;
  cursor: pointer;
  width: 100%;
}
.dropdown-menu__button:not(:last-child) {
  margin-bottom: 16px;
}
.dropdown-menu__button_pink {
  color: var(--color-pink);
}
.dropdown-menu__button_black {
  color: var(--color-bg-gray-600);
}
