.address__container {
  display: grid;
  grid-template-rows: 1fr;
  text-align: start;
  margin-right: 8px;
}

.address__header {
  display: flex;
  gap: 8px;
  color: var(--color-bg-gray-900);
  font-weight: var(--weight-semibold);
  font-size: var(--text-xl);
}

.address__text {
  color: var(--color-bg-gray-900);
  font-weight: var(--weight-medium);
  font-size: var(--text-base);
}
