.header {
   width: 100vw;
   padding: 16px 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: var(--color-bg-white);
}

.header__navbar {
   display: flex;
   gap: 48px;
}

.header__logo {
   width: 116px;
   height: 35px;
}

.header__links {
   display: flex;
}

.header-link {
   display: flex;
   align-items: center;
   padding: 16px 24px;
   gap: 16px;

   transition: box-shadow 150ms ease-in, border-radius 150ms ease-in;
}

.header-link__show-on-click {
   display: none;
}

.header-link__title {
   font: var(--fonts-navigation-link);
   color: var(--color-bg-gray-600);

   -ms-user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.header-link__img {
   background-image: var(--images-header-schedule);
   background-color: red;
}

.header-link:hover {
   box-shadow: 0px 4px 12px rgba(75, 85, 99, 0.15);
   border-radius: 16px;
}

.header-link:active {
   border: 1.5px solid var(--color-lime);
   box-shadow: 0px 4px 12px rgba(194, 215, 47, 0.15);
   border-radius: 16px;
}

.header-link:active span {
   color: var(--color-lime);
}

.header-link:active .header-link__show-on-click {
   display: block;
}

.header-link:active .header-link__hide-on-click {
   display: none;
}


.header__btns {
   display: flex;
   align-items: center;
   padding: 0;
   height: 48px;
   gap: 16px;
}

@media (min-width: 744px) {
   .header {
      padding: 35px 24px;
   }

   .header__logo {
      width: 174px;
      height: 52px;
   }
}

@media (min-width: 1440px) {
   .header {
      padding: 24px 40px;
   }

   .header__logo {
      width: 159.75px;
      height: 56px;
   }
}

@media (min-width: 1920px) {
   .header__logo {
      width: 213px;
      height: 64px;
   }

   .header-link__title {
      font-size: 16px;
   }
}