.future-games-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

   margin-top: 15px;
   padding: 0 1rem;
   padding-bottom: 12px; /* For Dev */
   width: 100%;
   min-width: 336px;
   height: fit-content;
   
   border-radius: 32px;
}

.future-games-list__title {
   font: var(--fonts-h2-block-title);
   color: var(--color-bg-white);

   position: relative;
   z-index: 10;
}

.future-games-list__games_list {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 16px;

   position: relative;
   z-index: 10;
}

.future-games-list__show-more-btn {
   margin-top: 32px;
   width: 100%;
   max-width: 312px;
}

.future-games-list__show-more-title-btn {
   font: var(--fonts-faq-block);
}