.notification__container {
    width: 300px;
    height: 56px;
    border-radius: var(--border-xs);
    border: 2px solid var(--color-red);
    background-color: var(--color-bg-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notification__img{
    width: 24px;
    height: 24px;
}

.notification__container p {
    margin-left: -30px;
    font-weight: var(--weight-medium);
    font-size: var(--text-base);
    color: var(--bg-gray-900);
}

.notification__container button {
    border: none;
    background-color: var(--color-bg-white);
}

.notification__close-btn-img {
    width: 16px;
    height: 16px;
}

.notification__close-btn {
    cursor: pointer;
    padding-top: 5px;
}