.input-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.input-label {
  position: absolute;
  z-index: 1;
  top: 31px;
  max-width: 99%;
  padding: 16px;
  margin-left: 12px;

  pointer-events: none;
  color: var(--color-bg-gray-300);
  transform: translateY(-30px) translateX(-10px) scale(1);
  transition: transform 200ms;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-required {
  color: var(--color-pink);
}

.input {
  box-sizing: border-box;
  outline: 0;
  background-color: var(--color-bg-gray-0);
  color: var(--color-bg-gray-900);
  font-size: var(--text-base);
  border-radius: var(--border-xs);
  border: 2px solid var(--color-bg-gray-50);
  padding: 16px;
  width: 100%;
  height: 56px;
}

input[type='date'] {
  width: 100%;
}

.input:focus {
  outline: none;
  border-color: var(--color-bg-gray-500);
}

.input:focus-within ~ .input-label,
.input:not(:placeholder-shown) {
  color: var(--color-bg-gray-500);
}

.label-filled {
  top: 61px;
  padding: 0 5px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 38%,
    var(--color-bg-gray-0) 38%,
    var(--color-bg-gray-0) 100%
  );

  transform: translateY(-70px) translateX(-10px) scale(0.875);
}

.caption-message {
  width: 100%;
  margin: 4px auto auto 8px;
  font-size: var(--text-sm);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-500);
}

.success {
  border: 2px solid var(--color-lime);
}

.error {
  border: 2px solid var(--color-pink);
}

.error-message {
  width: 100%;
  margin: 4px auto auto 8px;
  font-size: var(--text-sm);
  font-weight: var(--weight-medium);
  color: var(--color-pink);
}

input[type='date']:not(:focus):in-range::-webkit-datetime-edit-year-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-month-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-day-field,
input[type='date']:not(:focus):in-range::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
