.sort-data__block {
    width: max-content;
    height: 48px;
    border-radius: 12px;
    padding-inline: 4px;
    background: var(--color-bg-slate-100);
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .sort-data__button {
    height: 40px;
    border-radius: 10px;
    padding-inline: 20px;
    gap: 8px;
    background: inherit;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: var( --color-bg-gray-500);
  }

  .sort-data__button_active{
    height: 40px;
    border-radius: 10px;
    padding-inline: 20px;
    gap: 8px;
    border: none;
    cursor: pointer;
    background: var(--color-bg-white);
    font-weight: 600;
    color: var(--color-pink);
  }