.about-us {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin: 150px 0;

   color: var(--color-bg-gray-900);
}

.game-rules__title {
   font: var(--fonts-h2-faq-title);
   text-align: start;
}

.game-rules__subtitle {
   font: var( --fonts-h4-card-title);
}

.game-rules__description {
   font: var(--fonts-p-main-description);
}

.game-rules__reg-btn {
   width: 100%;
   border-radius: 61px;
}

.game-rules__preview-img {
   max-width: 100%;
   border-radius: 32px;
}