.about-us {
   /* display: flex;
   flex-direction: column;
   gap: 24px; */
   margin: 150px 0;
}

.game-rules__title {
   font: var(--fonts-h2-faq-title);
   color: var(--color-bg-gray-900);
   text-align: start;
}

.game-rules__preview-img {
   max-width: 100%;
   border-radius: 32px;
}