* {
  outline: 1px solid slateblue;
}
.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--color-bg-gray-900);
}

.game-rules__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game-rules__title {
  margin-top: 64px;
  font: var(--fonts-h2-infographic-title-DEPRECATED);
  text-align: start;
}

.game-rules__subtitle {
  margin-top: 32px;
  font: var(--fonts-h4-card-title-DEPRECATED);
}

.game-rules__description {
  margin-top: 18px;
  font: var(--fonts-registration-button-title-DEPRECATED);
}

.game-rules__reg-btn {
  margin-top: 24px;
  width: 100%;
  border-radius: 61px;
  padding: 16px 48px;
}

.game-rules__reg-btn-title {
  font-weight: 600;
}

.game-rules__main-info {
  margin-bottom: 80px;
}

/* .game-rules__image-group {
  position: relative;
  width: 100%;
  min-width: 95vw;
  min-height: 275px;
} */

.game-rules__preview-img {
  max-width: 97%;
  border-radius: 32px;
  /* position: relative; */
}

/* .game-rules__vector-img {
  width: 100%;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: -1;
} */

@media (min-width: 744px) {
  .game-rules__title {
    font: var(--fonts-h4-subtitle-DEPRECATED);
    margin-top: 97px;
  }

  .game-rules__description {
    margin-top: 40px;
  }

  .game-rules__reg-btn {
    width: auto;
  }
  .game-rules__preview-img {
    border-radius: 64px;
  }
}

@media (min-width: 1024px) {
  .game-rules__main-info {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .game-rules__title {
    grid-area: 1/2/2/3;
    margin-top: 0;
  }

  /* .game-rules__image-group {
    grid-area: 1/1/3/2;
    width: 40%;
    min-width: 38vw;
    min-height: 275px;
  } */

  .game-rules__preview-img {
    max-width: 53vw;
    margin-left: calc(-100vw / 6);
  }

  /* .game-rules__vector-img {
    top: 150px;
  } */

  .game-rules__description {
    grid-area: 2/2/3/3;
    padding: 10px;
    margin-top: 18px;
  }
}

@media (min-width: 1440px) {
  /* .game-rules__image-group {
    min-width: 28vw;
  } */
  .game-rules__preview-img {
    width: 45vw;
    max-width: 834px;
    /* margin-left: -20vw; */
  }
  /* .game-rules__vector-img {
    top: 50px;
    right: 1px;
    width: 45vw;
    max-width: 900px;
  } */
}
