.date-info-block {
  display: flex;
  justify-content: center;
  gap: 32px;
  background: var(--color-gradient);
  color: var(--color-bg-white);
  border-radius: var(--border-xs);
  padding: 16px 0;
}

.date-info-block__date-block,
.date-info-block__time-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.date-info-block__time,
.date-info-block__day {
  font: var(--fonts-faq-block-DEPRECATED);
}

.date-info-block__month,
.date-info-block__day-of-week {
  font: var(--fonts-p-main-description-DEPRECATED);
  text-transform: capitalize;
}
