.best-of-block__container {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

@media (min-width: 744px) {
    .best-of-block__container {}
}