.modal-content-create-game {
  width: 100%;
  max-width: 344px;
  max-height: calc(100vh - 40px);
  background: var(--color-bg-white);
  position: relative;
  padding: 16px;
  overflow: auto;
  border-radius: var(--border-xs);
  box-shadow: var(--modal-shadow);
}

.modal-content-create-game__close-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--color-bg-gray-600);
}

.create-game {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  color: var(--color-bg-gray-900);
}

.create-game__header {
  margin: 0;
  font-family: var(--font-family-descriptions);
  font-size: var(--text-2xl);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-600);
}

.create-game__steps {
  border-bottom: 1px solid var(--color-bg-gray-200);
}

.create-game__progress {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.create-game__description {
  margin-bottom: 16px;
  font-size: var(--text-base);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-600);
}

.create-game__description_center {
  text-align: center;
}

.create-game__description_center :last-child {
  margin-bottom: 0;
}

.create-game__description_active {
  margin-bottom: 8px;
  font-size: var(--text-lg);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-900);
}

.create-game__steps span {
  color: var(--color-pink);
}

.create-game-form .input {
  margin-top: 8px;
}

.create-game-form__controls {
  display: flex;
  flex-direction: column;
}

.create-game-form__step {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.create-game-form__example {
  margin-top: 4px;
  padding: 0px 8px;
}

.create-game-form__step_innerblock {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.create-game-form__add-btn {
  height: 54px;
  border-radius: var(--border-xs);
}

.create-game-form__cancel-btn {
  margin-top: 24px;
  font-size: var(--text-base);
  font-weight: var(--weight-semibold);
  color: var(--color-bg-gray-500);
  background-color: var(--color-bg-white);
  border: none;
  cursor: pointer;
}

.create-game__result {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.create-game__result dt {
  display: inline;
  font-size: var(--text-sm);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-500);
}

.create-game__result dt::after {
  content: ': ';
}

.create-game__result dd {
  margin-left: 8px;
  display: inline;
  font-size: var(--text-base);
  font-weight: var(--weight-medium);
  color: var(--color-bg-gray-900);
  overflow-wrap: anywhere;
}

@media (min-width: 744px) {
  .modal-content-create-game {
    max-width: 740px;
    max-height: calc(100vh - 15px);
    padding: 32px;
    border-radius: var(--border-base);
  }

  .modal-content-create-game__close-btn {
    top: 32px;
    right: 32px;
  }

  .create-game {
    row-gap: 40px;
  }

  .create-game-form__step {
    margin-bottom: 40px;
  }

  .create-game-form__step_innerblock {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
  }

  .create-game-form__controls {
    flex-direction: row-reverse;
    column-gap: 32px;
  }

  .create-game-form__add-btn {
    height: 57px;
  }

  .create-game-form__add-btn-title {
    font-size: var(--text-lg);
  }

  .create-game-form__cancel-btn {
    margin-top: 0;
  }

  .create-game__description_active {
    font-size: var(--text-xl);
  }

  .create-game__description_active ~ .create-game__description {
    font-size: var(--text-lg);
  }
}
