.footer {
  position: relative;
  height: 293px;
  margin: 24px;
  padding: 32px;
  border-radius: 200px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-lime);
}

.footer__infoblock {
  width: 18%;
  margin-right: 40.5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.footer__logo {
  width: 212px;
}

.footer__title {
  font: var(--fonts-h5-card-description-DEPRECATED);
  color: var(--color-bg-white);
}

.footer__social-btns {
  display: flex;
}

.footer__vk-btn {
  height: 36px;
  width: 36px;
  background-image: var(--footer-social-btn-vk);
  cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  .footer {
    justify-content: center;
    padding: 40px;
  }
  .footer__infoblock {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    border-radius: 0;
    margin: 0;
  }
  .footer__infoblock {
    width: 100%;
    margin: 0;
  }
}
