.block-background {
   background: var(--color-gradient);
   border-radius: 64px;
   position: relative;
   overflow: hidden;
}

.block-background__mediator {
   transform: rotate(45deg);
   position: absolute;
   height: 256px;
   width: 260px;
   top: -40px;
   left: -40px;
}